.container {
  height: 20rem;
  width: 20rem;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  transition: scale 200ms ease-in-out;
}

.container:hover,
.container:focus {
  opacity: 0.9;
  scale: 1.01;
}

.pic {
  height: 100%;
  width: 100%;
}
