.loadBtn {
  display: block;
  transform: scale(1.25);
  padding: 0.75em 1.5em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  background-color: rgb(25, 4, 45);
  text-transform: capitalize;
  transition: background-color 1000ms ease;
  color: white;
}

.loadBtn:hover,
.loadBtn:focus {
  background-color: rgb(51, 167, 140);
}
